@charset "UTF-8";

body {
	font-family: "Helvetica Neue",
			      Arial,
			     "Hiragino Kaku Gothic ProN",
			     "Hiragino Sans",
			      Meiryo,
			      sans-serif;
	background-color: #c2e9fb;
}

.container {
	margin-top: 2rem;
}

.btn.btn-block {
	font-size: 1.6em;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 0.3rem 2rem;
}

.btn.cloudy-knoxville-gradient, .btn.btn-primary {
	font-size: 1em;
	padding: 0.5rem 2rem;
}

table th, table td {
	font-size: 1.2rem;
}

.table th, .table td {
	padding-right: 2rem;
}

th {
	background-color: #343a40;
	color: white;
	letter-spacing: 3px;
}

td {
	background-color: #ffffff;
}