@charset "UTF-8";

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.container {
	margin-top: 2rem;
}

.btn {
	font-size:1.1em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

table th, table td {
	font-size: 1.2rem;
}

.table th, .table td {
	padding-right: 2rem;
}

th {
	background-color: #343a40;
	color: white;
}