@charset "UTF-8";

body {
	font-family: "Helvetica Neue",
			      Arial,
			     "Hiragino Kaku Gothic ProN",
			     "Hiragino Sans",
			      Meiryo,
			      sans-serif;
}

.container-fluid{
	width: 99%;
}

.col-lg-3 {
	margin-top: 1rem;
	padding-right: 2rem;
}

.col-lg-9 {
	padding-left: 0;
}

h3 {
	margin-top: 1rem;
}

.card {
	border: solid 1px rgba(0,0,0,.125);
	-webkit-box-shadow: initial;
	box-shadow: initial;
}

.card-body {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.list-group-item-action {
	color: black;
}

.btn {
	color: black;
	font-size:1em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.btn.btn-info {
	margin-top: 1.5rem ;
	padding: 0.5rem 2rem;
}

.btn.btn-outline-default {
	margin-top: 0.5rem ;
}

.form-group.num1 {
	margin-top: 0.5rem;
}

.form-group.num3 {
	margin-bottom: 0.5rem;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #ffffff;
}

table th, table td {
	font-size: 1.2rem;
}

.table th, .table td {
	padding-right: 2rem;
}

th {
	background-color: #343a40;
	color: white;
	letter-spacing: 3px;
}
